<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">cgd.hibernate.SBPRMySqlInnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/samha</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <mapping class="cdp.Alocacao"/>
    <mapping class="cdp.Aula"/>
    <mapping class="cdp.Coordenador"/>
    <mapping class="cdp.Coordenadoria"/>
    <mapping class="cdp.Curso"/>
    <mapping class="cdp.Disciplina"/>
    <mapping class="cdp.Eixo"/>
    <mapping class="cdp.Oferta"/>
    <mapping class="cdp.MatrizCurricular"/>
    <mapping class="cdp.Professor"/>
    <mapping class="cdp.ProfessorCoordenador"/>
    <mapping class="cdp.RestricaoProfessor"/>
    <mapping class="cdp.Servidor"/>
    <mapping class="cdp.Turma"/>
    <mapping class="cdp.Usuario"/>
  </session-factory>
</hibernate-configuration>
